.App {
  text-align: center;
  height: 75vh;
  margin-top: calc(25vh / 2);
  overflow: hidden;
  .nav-container{
    overflow-y: auto;
    overflow-x: hidden;
  }
  .main-container{
    overflow-y: auto;
    overflow-x: hidden;
  }
}
